<h5>お気に入り</h5>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">店名</th>
      <th scope="col">お店の紹介</th>
      <th scope="col">口コミ</th>
    </tr>
  </thead>
  <tbody>
  <% @likes.each.with_index(1) do |like,index|%>
  <% post = Post.find(like.post_id) %>
  <%= link_to post_path(post) ,class: "Editlink" do%>
    <tr>
      <th scope="row"><%= index%></th>
      <td><%= post.title%></td>
      <td><%= post.content.truncate(50)%></td>
      <td>星５</td>
    </tr>
  <%end%>
  <%end%>
  </tbody>
</table>