<div class="container mt-5"style="margin-bottom: 200px;">
  <table class="table"id="likeTable">
    <thead class="thead text-white">
      <tr>
        <th scope="col">No</th>
        <th scope="col">店舗名</th>
        <th scope="col">お店のコメント</th>
      </tr>
    </thead>
    <tbody>
    <% @likes.preload(:post).each.with_index(1) do |like,index|%>
      <tr>
        <td><%= index %></td>
        <td><%= link_to like.post.title,post_path(like.post) ,class: "Editlink"%></td>
        <td><%= like.post.content.truncate(50)%></td>
      </tr>
    <%end%>
      </tr>
    </tbody>
  </table>
</div>