//　bootstrap導入
@import "bootstrap/scss/bootstrap"; 
//@import "rails_bootstrap_forms";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


// いいねボタン
.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #fff!important;
}

.like-btn {
  font-size: 15px;
  color: #808080;
}
 
.unlike-btn {
  font-size: 15px;
  color: #e54747;
}

// リンクの色を黒に変える
.Editlink{
  text-decoration: none;
  color: black ;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

/*ヘッダーアイコンのデザイン*/
.icon_image {
  width: 30px;
  height: 30px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}
/*マイページのユーザー画像デザイン*/
.mypage_image{
  width: 150px;
  height: 150px;
  //サイズ指定
  border-radius: 30px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

// コメント一覧のアイコンサイズ
.comment-list{
  width: 30px;
  height: 30px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

// 全ページの背景
body {
	background-color:#EEEEEE	;		/*ページ全体の背景色*/
  font-family: 'Osaka';   
}

// Youtube動画
.youtube {
  position: relative;
     padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
     height: 0;
     overflow: hidden;
}
.youtube iframe {
  position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

// ヘッダーに影を付ける
header.sticky-top {
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

// ボーダーとカードのに影を付ける
.border.rounded {
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
.card.w-100{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2); 
} 
.mx-auto.footer{
  margin: 150px;
}

// バリデーションエラー時にフィールドを赤色に変更する
.field_with_errors {
  display: contents;

  input,
  textarea,
   {
    @extend .is-invalid;
  }
} 

// フラッシュ
// 成功した時は水色のフラッシュメッセージ
.alert-notice {
  @extend .alert-info;
}
// 失敗した時は赤色のアラートメッセージ
.alert-alert {
  @extend .alert-danger;
}

// 検索の都道府県フォーム
.selectbox {
  width:100%;
  margin:1em auto;
position:relative;
}
select{
-webkit-appearance:none;
  appearance:none;
width:100%;
padding:1em 1em;
box-sizing:border-box;
font-size:1em;
border:#ccc 1px solid;
border-radius:0;
background:#fff;
}
.selectbox::after{
content:"";
display:block;
width:10px;
height:10px;
position:absolute;
right:5%;
top:35%;
border-bottom:#333 2px solid;
border-right:#333 2px solid;
transform:rotate(45deg)translateY(-30%);
}
