<div class="container mt-5">
  <div class="card w-100 " style="width: 18rem;padding:30px;">
    <%= render 'posts/postshowtop'%> 
    <div class="card-body">
      <%= render 'posts/reviewstar' %>
    </div>
  </div>
</div>


