<div class="container mt-5">
  <div class="card w-100 " style="width: 18rem;padding:30px;">
    <%= render 'posts/post_show_top'%> 
    <div class="card-body">
      <%= render 'posts/review_table' %>
    </div>
  </div>
</div>


