<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <a href="#" class="close" data-dismiss="alert">×</a>
          <%= message %>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>