<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-5">
    <div class="mx-auto"> 
        <a class="navbar-brand" target="_blank" rel=”noopener” href="https://m-league.jp/">Mリーグ</a>
        <a class="navbar-brand" target="_blank" rel=”noopener” href="https://www.youtube.com/channel/UCBHvzjvii3kp4gd_gw6UEIA">Yotube</a>
    </div>
</nav>